#Gemini
GEMINI_API_KEY=api_key
GEMINI_MODEL=api_model

#PostgreSQL
DB_HOST=db_host
DB_PORT=db_port
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password

#MongoDB
MONGODB_URL=mongodb_url
MONGODB_DB=mongodb_db_name